@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Prof. Birch's Lab</h1>
    <div class="col-12" align="center">
        <div class="h-100 p-5 text-black bg-light rounded-3">
          <h2>Choose Your Starter</h2>
          <p>Choose between the starters of the Hoenn Region.</p>
          <div class="mx-auto">
              <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/treecko.png" alt="Treecko">
              <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/torchic.png" alt="Torchic">
              <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/mudkip.png" alt="Mudkip">
          </div>
          <button class="btn btn-outline-light text-success bg-white" type="button">Treecko</button>
          <button class="btn btn-outline-light text-danger bg-white" type="button">Torchic</button>
          <button class="btn btn-outline-light text-primary bg-white" type="button" >Mudkip</button>
        </div>
      </div>
      <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
