@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Prof. Birch's Lab</h1>
    <div class="col-12" align="center">
        <div class="h-100 p-5 text-black bg-light rounded-3">
          <h2>Choose Your Starter</h2>
          <p>Choose between the starters of the Hoenn Region.</p>
          <div class="mx-auto">
              <img src="~/imgs/treecko.png" alt="Treecko">
              <img src="~/imgs/torchic.png" alt="Torchic">
              <img src="~/imgs/mudkip.png" alt="Mudkip">
          </div>
          <button class="btn btn-outline-light text-success bg-white" type="button" value = "Treecko" onclick="OnDivClick(this.value);">Treecko</button>
          <button class="btn btn-outline-light text-danger bg-white" type="button" value = "Torchic" onclick="OnDivClick(this.value);">Torchic</button>
          <button class="btn btn-outline-light text-primary bg-white" type="button" value = "Mudkip" onclick="OnDivClick(this.value);">Mudkip</button>
        </div>
        <div>
            <button class = "btn btn-outline-light text-dark bg-secondary" type="button" value = "/Home/Privacy" onclick="redirectToPrivacy(this.value)">Privacy</button>
        </div>
      </div>
      <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script>
    function OnDivClick(value) {
        alert('The player has chosen ' + value);
    }

    function redirectToPrivacy(url){
        window.location.href = url;
    }
</script>