@model EmpresaModel

@{
    ViewData["Title"] = "Cadastro da Empresa";
}

<div class="text-center">
    <p class="h1"><b>Cadastro da Empresa</b></p>
</div>

<div class="text-left">
    <!--- Jumbotron --->
    <div class="col-12">
        <div class="h-100 p-5 text-black bg-light rounded-3">
            <!--- Formulario de Cadastro --->
            <form id="company_registration" asp-action="Create">
                <div class="form-group mb-3">
                    <label for="formGroupCompanyName" class="form-label">Nome da Empresa</label>
                    <!--- Icones ao lado do formulario de input --->
                    <div class="mb-4 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-briefcase-fill"></i>
                        </span>
                        <input type="text" class="form-control" id="CompanyName" placeholder="Nome Legal Da Empresa" asp-for="CompanyName" required>
                        <!--- Toogletip --->
                        <span class="input-group-text">
                            <span id="info" data-toggle="tooltip" title="Nome da empresa registrado junto aos órgãos do governo">
                                <i class="bi bi-info-circle"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="formGroupCompanyFantasyName" class="form-label" >Nome Fantasia</label>
                    <!--- Icones ao lado do formulario de input --->
                    <div class="mb-4 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-building"></i>
                        </span>
                        <input type="text" class="form-control" id="CompanyFantasyName" placeholder="Nome Fantasia Da Empresa" asp-for="CompanyFantasyName" required>
                        <!--- Toogletip --->
                        <span class="input-group-text">
                            <span id="info" data-toggle="tooltip" title="Nome comercial ou popular da empresa">
                                <i class="bi bi-info-circle"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="formGroupCompanyCNPJ" class="form-label">CNPJ</label>
                    <!--- Icones ao lado do formulario de input --->
                    <div class="mb-4 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-person-lines-fill"></i>
                        </span>
                        <input type="text" class="form-control" id="CompanyCNPJ" placeholder="XX.XXX.XXX/XXXX-XX" asp-for="CompanyCNPJ" required>
                        <!--- Toogletip --->
                        <span class="input-group-text">
                            <span id="info" data-toggle="tooltip" title="Cadastro Nacional da Pessoa Jurídica">
                                <i class="bi bi-info-circle"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <!--- Botao de Submit do formulario --->
                <button type="submit" value= "Create" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>



 <!--- 
    Scripts dentro dessa section
    dependem dos scripts importados no _Layout.

     Formato: *section "Nome da Section"{
        <script>
            funcoes dependentes
        </script>
     }

     Nome da Section encontrado na funcao RenderSectionAsync()
 --->

@section Scripts{
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
}
